Source: ruby-test-unit-context
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 9.0), gem2deb, rake, ruby-test-unit
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-test-unit-context.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-test-unit-context.git;a=summary
Homepage: http://github.com/kares/test-unit-context
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-test-unit-context
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-test-unit
Description: context for the Test::Unit Ruby testing framework
 This gem makes Test::Unit::TestCases 'contextable' and thus much easier to 
 read and write. It is the implementation of 'context do ... end' from RSpec 
 for Test::Unit. 
